#bahamas
{
    position: relative;
    background-image: -webkit-linear-gradient(#00abc9 33%, #fae042 33%, #fae042 66%, #00abc9 66%);
    background-image: -o-linear-gradient(#00abc9 33%, #fae042 33%, #fae042 66%, #00abc9 66%);
    background-image: -moz-linear-gradient(#00abc9 33%, #fae042 33%, #fae042 66%, #00abc9 66%);
    background-image: linear-gradient(#00abc9 33%, #fae042 33%, #fae042 66%, #00abc9 66%);
    width: 300px;
    height: 150px;
    margin: 0 auto;
}

#bahamas .triangle
{
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 100px solid #000000;
}