#bulgaria
{
    background-image: -webkit-linear-gradient(#ffffff 33%, #00966e 33%, #00966e 66%, #d62612 66%);
    background-image: -o-linear-gradient(#ffffff 33%, #00966e 33%, #00966e 66%, #d62612 66%);
    background-image: -moz-linear-gradient(#ffffff 33%, #00966e 33%, #00966e 66%, #d62612 66%);
    background-image: linear-gradient(#ffffff 33%, #00966e 33%, #00966e 66%, #d62612 66%);
    width: 250px;
    height: 150px;
    margin: 0 auto;
}