#chad
{
    background-image: -webkit-linear-gradient(90deg, #002664 33%, #fecb00 33%, #fecb00 66%, #c60c30 66%);
    background-image: -o-linear-gradient(90deg, #002664 33%, #fecb00 33%, #fecb00 66%, #c60c30 66%);
    background-image: -moz-linear-gradient(90deg, #002664 33%, #fecb00 33%, #fecb00 66%, #c60c30 66%);
    background-image: linear-gradient(90deg, #002664 33%, #fecb00 33%, #fecb00 66%, #c60c30 66%);
    width: 225px;
    height: 150px;
    margin: 0 auto;
}