#colombia
{
    background-image: -webkit-linear-gradient(#fcd116 50%, #003893 50%, #003893 75%, #ce1126 75%);
    background-image: -o-linear-gradient(#fcd116 50%, #003893 50%, #003893 75%, #ce1126 75%);
    background-image: -moz-linear-gradient(#fcd116 50%, #003893 50%, #003893 75%, #ce1126 75%);
    background-image: linear-gradient(#fcd116 50%, #003893 50%, #003893 75%, #ce1126 75%);
    width: 225px;
    height: 150px;
    margin: 0 auto;
}