#armenia
{
    background-image: -webkit-linear-gradient(#d90012 33%, #0033a0 33%, #0033a0 66%, #f2a800 66%);
    background-image: -o-linear-gradient(#d90012 33%, #0033a0 33%, #0033a0 66%, #f2a800 66%);
    background-image: -moz-linear-gradient(#d90012 33%, #0033a0 33%, #0033a0 66%, #f2a800 66%);
    background-image: linear-gradient(#d90012 33%, #0033a0 33%, #0033a0 66%, #f2a800 66%);
    width: 300px;
    height: 150px;
    margin: 0 auto;
}