#benin
{
    background-image: -webkit-linear-gradient(90deg, #008751 40%, transparent 40%), linear-gradient(#fcd116 50%, #e8112d 50%);
    background-image: -o-linear-gradient(90deg, #008751 40%, transparent 40%), linear-gradient(#fcd116 50%, #e8112d 50%);
    background-image: -moz-linear-gradient(90deg, #008751 40%, transparent 40%), linear-gradient(#fcd116 50%, #e8112d 50%);
    background-image: linear-gradient(90deg, #008751 40%, transparent 40%), linear-gradient(#fcd116 50%, #e8112d 50%);
    width: 225px;
    height: 150px;
    margin: 0 auto;
}