#chile
{
    position: relative;
    background-image: -webkit-linear-gradient(90deg, #0039a6 75px, transparent 75px), linear-gradient(#ffffff 50%, #d52b1e 50%);
    background-image: -o-linear-gradient(90deg, #0039a6 75px, transparent 75px), linear-gradient(#ffffff 50%, #d52b1e 50%);
    background-image: -moz-linear-gradient(90deg, #0039a6 75px, transparent 75px), linear-gradient(#ffffff 50%, #d52b1e 50%);
    background-image: linear-gradient(90deg, #0039a6 75px, transparent 75px), linear-gradient(#ffffff 50%, #d52b1e 50%);
    background-size: 225px 75px, 225px 150px;
    background-repeat: no-repeat, no-repeat;
    width: 225px;
    height: 150px;
    margin: 0 auto;
}

#chile .star {
    display: block;
    position: absolute;
    top: 19px;
    left: -12px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #ffffff;
    border-left: 50px solid transparent;
    -moz-transform: rotate(35deg) scale(0.35, 0.35);
    -webkit-transform: rotate(35deg) scale(0.35, 0.35);
    -ms-transform: rotate(35deg) scale(0.35, 0.35);
    -o-transform: rotate(35deg) scale(0.35, 0.35);
}

#chile .star:before {
    content: '';
    display: block;
    position: absolute;
    top: -22.5px;
    left: -32.5px;
    height: 0;
    width: 0;
    border-bottom: 40px solid #ffffff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

#chile .star:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: -52.5px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #ffffff;
    border-left: 50px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
}