#china
{
    position: relative;
    background: #de2910;
    width: 225px;
    height: 150px;
}

#china .star {
    display: block;
    position: absolute;
    top: 19px;
    left: -12px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #ffde00;
    border-left: 50px solid transparent;
    -moz-transform: rotate(35deg) scale(0.45, 0.45);
    -webkit-transform: rotate(35deg) scale(0.45, 0.45);
    -ms-transform: rotate(35deg) scale(0.45, 0.45);
    -o-transform: rotate(35deg) scale(0.45, 0.45);
}

#china .star:before {
    content: '';
    display: block;
    position: absolute;
    top: -22.5px;
    left: -32.5px;
    height: 0;
    width: 0;
    border-bottom: 40px solid #ffde00;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

#china .star:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: -52.5px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #ffde00;
    border-left: 50px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
}

#china .star-main {
    top: 19px;
    left: -12px;
    -moz-transform: rotate(35deg) scale(0.45, 0.45);
    -webkit-transform: rotate(35deg) scale(0.45, 0.45);
    -ms-transform: rotate(35deg) scale(0.45, 0.45);
    -o-transform: rotate(35deg) scale(0.45, 0.45);
}

#china .star-sub1 {
    top: -3px;
    left: 25px;
    -moz-transform: rotate(55deg) scale(0.12, 0.12);
    -webkit-transform: rotate(55deg) scale(0.12, 0.12);
    -ms-transform: rotate(55deg) scale(0.12, 0.12);
    -o-transform: rotate(55deg) scale(0.12, 0.12);
}

#china .star-sub2 {
    top: 12px;
    left: 40px;
    -moz-transform: rotate(10deg) scale(0.12, 0.12);
    -webkit-transform: rotate(10deg) scale(0.12, 0.12);
    -ms-transform: rotate(10deg) scale(0.12, 0.12);
    -o-transform: rotate(10deg) scale(0.12, 0.12);
}

#china .star-sub3 {
    top: 35px;
    left: 40px;
    -moz-transform: rotate(33deg) scale(0.12, 0.12);
    -webkit-transform: rotate(33deg) scale(0.12, 0.12);
    -ms-transform: rotate(33deg) scale(0.12, 0.12);
    -o-transform: rotate(33deg) scale(0.12, 0.12);
}

#china .star-sub4 {
    top: 50px;
    left: 25px;
    -moz-transform: rotate(35deg) scale(0.12, 0.12);
    -webkit-transform: rotate(55deg) scale(0.12, 0.12);
    -ms-transform: rotate(35deg) scale(0.12, 0.12);
    -o-transform: rotate(35deg) scale(0.12, 0.12);
}