#gabon
{
    background-image: -webkit-linear-gradient(#009e60 33%, #fcd116 33%, #fcd116 66%, #3a75c4 66%);
    background-image: -o-linear-gradient(#009e60 33%, #fcd116 33%, #fcd116 66%, #3a75c4 66%);
    background-image: -moz-linear-gradient(#009e60 33%, #fcd116 33%, #fcd116 66%, #3a75c4 66%);
    background-image: linear-gradient(#009e60 33%, #fcd116 33%, #fcd116 66%, #3a75c4 66%);
    width: 200px;
    height: 150px;
    margin: 0 auto;
}