#republic-of-the-congo
{
    background-image: -webkit-linear-gradient(135deg, #009543 40%, #fbde4a 40%, #fbde4a 60%, #dc241f 57%);
    background-image: -o-linear-gradient(135deg, #009543 40%, #fbde4a 40%, #fbde4a 60%, #dc241f 57%);
    background-image: -moz-linear-gradient(135deg, #009543 40%, #fbde4a 40%, #fbde4a 60%, #dc241f 57%);
    background-image: linear-gradient(135deg, #009543 40%, #fbde4a 40%, #fbde4a 60%, #dc241f 57%);
    width: 225px;
    height: 150px;
}