#rwanda
{
    position: relative;
    background-image: -webkit-linear-gradient(#00a1de 40%, #00a1de 56%, #fad201 56%, #fad201 80%, #20603d 80%);
    background-image: -o-linear-gradient(#00a1de 40%, #00a1de 56%, #fad201 56%, #fad201 80%, #20603d 80%);
    background-image: -moz-linear-gradient(#00a1de 40%, #00a1de 56%, #fad201 56%, #fad201 80%, #20603d 80%);
    background-image: linear-gradient(#00a1de 40%, #00a1de 56%, #fad201 56%, #fad201 80%, #20603d 80%);
    width: 250px;
    height: 167px;
}

#rwanda .star
{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 16px solid #e5be01;
}

#rwanda .star1
{
    top: 18px;
    left: 204px;
}

#rwanda .star2
{
    top: 20px;
    left: 208px;
    -webkit-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    transform: rotate(14deg);
}

#rwanda .star3
{
    top: 22px;
    left: 212px;
    -webkit-transform: rotate(29deg);
    -ms-transform: rotate(29deg);
    transform: rotate(29deg);
}

#rwanda .star4
{
    top: 25px;
    left: 215px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#rwanda .star5
{
    top: 28px;
    left: 217px;
    -webkit-transform: rotate(61deg);
    -ms-transform: rotate(61deg);
    transform: rotate(61deg);
}

#rwanda .star6
{
    top: 32px;
    left: 217px;
    -webkit-transform: rotate(76deg);
    -ms-transform: rotate(76deg);
    transform: rotate(76deg);
}

#rwanda .star7
{
    top: 35px;
    left: 217px;
    -webkit-transform: rotate(87deg);
    -ms-transform: rotate(87deg);
    transform: rotate(87deg);
}

#rwanda .star8
{
    top: 39px;
    left: 217px;
    -webkit-transform: rotate(104deg);
    -ms-transform: rotate(104deg);
    transform: rotate(104deg);
}

#rwanda .star9
{
    top: 43px;
    left: 217px;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

#rwanda .star10
{
    top: 47px;
    left: 216px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

#rwanda .star11
{
    top: 49px;
    left: 212px;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

#rwanda .star12
{
    top: 50px;
    left: 208px;
    -webkit-transform: rotate(165deg);
    -ms-transform: rotate(165deg);
    transform: rotate(165deg);
}

#rwanda .star13
{
    top: 51px;
    left: 204px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#rwanda .star14
{
    top: 50px;
    left: 200px;
    -webkit-transform: rotate(195deg);
    -ms-transform: rotate(195deg);
    transform: rotate(195deg);
}

#rwanda .star15
{
    top: 50px;
    left: 196px;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

#rwanda .star16
{
    top: 47px;
    left: 193px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

#rwanda .star17
{
    top: 44px;
    left: 190px;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

#rwanda .star18
{
    top: 40px;
    left: 189px;
    -webkit-transform: rotate(255deg);
    -ms-transform: rotate(255deg);
    transform: rotate(255deg);
}

#rwanda .star19
{
    top: 36px;
    left: 188px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#rwanda .star20
{
    top: 31px;
    left: 188px;
    -webkit-transform: rotate(285deg);
    -ms-transform: rotate(285deg);
    transform: rotate(285deg);
}

#rwanda .star21
{
    top: 27px;
    left: 190px;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

#rwanda .star22
{
    top: 24px;
    left: 193px;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}

#rwanda .star23
{
    top: 21px;
    left: 196px;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

#rwanda .star24
{
    top: 20px;
    left: 200px;
    -webkit-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    transform: rotate(345deg);
}

#rwanda .star-outer
{
    top: 34px;
    left: 196px;
    width: 19px;
    height: 19px;
    background: #e5be01;
    border-radius: 50%;
}

#rwanda .star-middle
{
    top: 1px;
    left: 1px;
    width: 17px;
    height: 17px;
    background: #00a1de;
    border-radius: 50%;
}

#rwanda .star-inner
{
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    background: #e5be01;
    border-radius: 50%;
}