#south-korea {
    position: relative;
    background: #ffffff;
    width: 225px;
    height: 150px;
}

#south-korea .yinyang {
    position: relative;
    top: 37px;
    left: 74px;
    width: 76px;
    height: 41px;
    background: #c60c30;
    border-bottom: 35px solid #003478;
    border-radius: 50%;
}

#south-korea .yinyang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 39px;
    height: 30px;
    background: #c60c30;
    border-radius: 50%;
}

#south-korea .yinyang:after {
    content: "";
    position: absolute;
    top: 66%;
    left: 50%;
    width: 38px;
    height: 30px;
    background: #003478;
    border-radius: 50%;
}

#south-korea .stripes {
    height: 25px;
    width: 39px;
}

#south-korea .stripes1 {
    top: 24px;
    left: 36px;
    background-image: linear-gradient(#000000 22%, #ffffff 22%, #ffffff 39%, #000000 39%, #000000 61%, #ffffff 61%, #ffffff 78%, #000000 78%);;
    transform: rotate(-56deg);
}

#south-korea .stripes2 {
    top: 24px;
    left: 150px;
    background-image: linear-gradient(#ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%), linear-gradient(#000000 22%, #ffffff 22%, #ffffff 39%, #000000 39%, #000000 61%, #ffffff 61%, #ffffff 78%, #000000 78%);;
    background-size: 16% 100%;
    background-position: 50% 0, 0 0;
    background-repeat: no-repeat, repeat;
    transform: rotate(56deg);
}

#south-korea .stripes3 {
    top: 101px;
    left: 36px;
    background-image: linear-gradient(90deg, transparent 43%, #ffffff 43%, #ffffff 57%, transparent 57%), linear-gradient(#000000 22%, #ffffff 22%, #ffffff 39%, #000000 39%, #000000 61%, #ffffff 61%, #ffffff 78%, #000000 78%);;
    background-size: 39px 11px, 39px 25px;
    background-position: 0 7px, 0 0;
    background-repeat: no-repeat, repeat;
    transform: rotate(56deg);
}

#south-korea .stripes4 {
    top: 101px;
    left: 150px;
    background-image: linear-gradient(90deg, transparent 43%, #ffffff 43%, #ffffff 57%, transparent 57%), linear-gradient(#000000 22%, #ffffff 22%, #ffffff 39%, #000000 39%, #000000 61%, #ffffff 61%, #ffffff 78%, #000000 78%);;
    transform: rotate(-56deg);
}