#tunisia
{
    position: relative;
    background: #e70013;
    width: 225px;
    height: 150px;
}

#tunisia .middle
{
    display: block;
    width: 73px;
    top: 38px;
    left: 76px;
    height: 73px;
    background: #ffffff;
    border-radius: 50%;
}

#tunisia .moon
{
    display: block;
    width: 55px; 
   top: 9px;
    left: 9px;
    height: 55px;
    background: #e70013;
    border-radius: 50%;
}

#tunisia .moon-clip
{
    display: block;
    width: 45px;
    top: 14px;
    left: 22px;
    height: 45px;
    background: #ffffff;
    border-radius: 50%;
}